<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Better Friends</title>

  <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Roboto" rel="stylesheet">
  

  <link rel="stylesheet" href="css/index.css">
  <script src="index.js" async></script>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">


</head>
<div class="container Home">
<body>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="topnav" id="myTopnav">
  <a href="https://modest-shannon-cd3129.netlify.com/" class="active">Reminders.com</a>
  <a href="https://modest-shannon-cd3129.netlify.com/">Home</a>
  <a href="https://modest-shannon-cd3129.netlify.com/Contact.html">Contact Us</a>
  <a href="https://nervous-joliot-1b773c.netlify.com">How It Works</a>
  <a href="https://nervous-joliot-1b773c.netlify.com/Price.index.html">Pricing</a>
  <a href="https://reminders.netlify.com/">Features</a>
  <a href="https://reminders.netlify.com/customers.html">Customers</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

   

   
 

 <!-- Slideshow container -->
 <div class="slideshow-container">
   <h1>Pricing</h1>

    <!-- Full-width images with number and caption text -->
    <div class="mySlides fade">
      <div class="numbertext">1 / 4</div>
      <img src="img/ignacio-campo-1210476-unsplash.jpg" style="width:100%">
      <div class="text">Birthday</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 4</div>
      <img src="img/ifeoluwadayo-ogunderu-1228088-unsplash.jpg" style="width:100%">
      <div class="text">Wedding</div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 4</div>
      <img src="img/nathan-mcbride-462758-unsplash.jpg" style="width:100%">
      <div class="text">Divorce</div>
    </div>

    <div class="mySlides fade">
        <div class="numbertext">4 / 4</div>
        <img src="img/jonathan-daniels-373306-unsplash.jpg" style="width:100%">
        <div class="text">Graduation</div>
      </div>
  
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span> 
    <span class="dot" onclick="currentSlide(2)"></span> 
    <span class="dot" onclick="currentSlide(3)"></span> 
    <span class="dot" onclick="currentSlide(4)"></span> 
  </div>
        
       



        

        <button class="accordion">Standard Pricing</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
        
        <button class="accordion">Luxury Pricing</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
        </div>
        
        <button class="accordion">Premium Pricing</button>
        <div class="panel">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat..</p>
        </div>

   
        <section class="content-pick">
        <div class="destination">
            </p>
            <div class="btn">Log In</div>
        </div>
        <div class="destination">
           
            <div class="btn">Get The App</div>
        </div>
        </section>

        


    </div>


  
           
  <footer class="footer">
    <p>		&#169 Reminders.com 2018</p>
  </footer>

</body>
</html>
